.about-page {
  /* Style the overall About page container */
  padding: 0rem;
  margin: 0rem ;
  max-width: 900px; /* Adjust width as needed */
}
 
.about-title {
  /* Style the About page title */
  text-align: center;
  /* margin-bottom: -6rem; */
  margin-top: 2rem;
}
 
.about-features {
  /* Style the features list */
  list-style: disc;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.about-content {
  /* Style the About page title */
  margin-bottom: 10rem;
}