.footer {
    position: absolute;
    right: 0;
    left: 250px;
    padding: 1rem;
    margin-bottom: -30rem ;
    text-align: center;
    /* margin: 25px; 
    position:relative;
    font-size: 15px; */
    font-family: monospace;
}

.footer-section{
    font-size: x-small;
    color: #000000;
}

