.footer {
    position: absolute;
    right: 0;
    bottom: -30px;
    left: 150px;
    padding: 1rem;
    text-align: center;
    /* margin: 25px; 
    position:relative;
    font-size: 15px; */
}

.footer-section{
    font-size: x-small;
}